*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    width: 100%;
    height: 60px;
    background: linear-gradient(120deg, rgb(196, 111, 196), #0ea0ff);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h2{
    color: rgb(3, 20, 13);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header .items ul{
    display: flex;
    gap: 10px;

}

header .items ul li{
    list-style-type: none;

}

header .items ul li a{
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
    color: white;
}

header .button button{
    padding: 10px 15px 10px 15px;
    padding: 8px;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 0, 157);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#hireme .img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#hireme{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    margin: 0px auto;
    gap: 30px;
}

#hireme p{
    font-size: 24px;
    width: 750px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
}

#hireme .hireme-button button{
    padding: 10px;
    color: #007bff;
    font-size: 18px;
    background-color: white;
    border: 1px solid #007bff;
    border-radius: 20px;
    cursor: pointer;
    

}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}